[Unit]
Description=Laravel Development Server
After=network.target

[Service]
ExecStart=/usr/bin/php /home/student/simple-social-media/artisan serve --host=0.0.0.0 --port=8000
Restart=always

[Install]
WantedBy=multi-user.target
